In [1]:
import numpy as np
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import re
import seaborn as sns

#setups
%matplotlib inline
sns.set()
#this will let you see all the columns that are in the dataset
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [2]:
columns_to_keep = ['TUCASEID','PEEDUCA','PEHSPNON','PTDTRACE','TEAGE','TELFS','TESEX','TESPEMPNOT','TRCHILDNUM','TRDPFTPT','TRERNWA','TUFNWGTP','TUYEAR','HEFAMINC']
summ_demo_iter = pd.read_csv('./atussum_0321.csv', iterator= True, chunksize=10000, usecols=columns_to_keep)
# summ_demo_iter = pd.read_csv('./atussum_1121-reduced.csv', iterator= True, chunksize=10000, usecols=columns_to_keep)
summ_list = []
for chunk in summ_demo_iter:
    summ_temp = chunk[(chunk.TUYEAR >= 2008)]
    summ_temp = summ_temp.rename(columns={'TUCASEID':'case_id',
                                          'PEEDUCA':'education',
                                          'PEHSPNON':'hispanic',
                                          'PTDTRACE':'ethnicity',
                                          'TEAGE':'age',
                                          'TELFS':'employed',
                                          'TESEX':'gender',
                                          'TESPEMPNOT':'spouse_empl',
                                          'TRCHILDNUM':'num_child',
                                          'TRDPFTPT':'full_part_wrk',
                                          'TRERNWA':'weekly_earn',
                                          'TUFNWGTP':'weights',
                                          'TUYEAR':'year'})
    summ_list.append(summ_temp)
summ_demo_final = pd.concat(summ_list)

In [3]:
summ_demo_final.head(1)

,case_id,education,hispanic,ethnicity,age,employed,gender,spouse_empl,num_child,full_part_wrk,weekly_earn,weights,year
72922,20080101080013,36,1,1,55,1,1,-1,0,1,240384,1.742496e+07,2008