In [1]:
import numpy as np
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import re
import seaborn as sns

#setups
%matplotlib inline
sns.set()
#this will let you see all the columns that are in the dataset
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [2]:
columns_to_keep = ['TUCASEID','PEEDUCA','PEHSPNON','TESCHLVL','PTDTRACE','TEAGE','TELFS','TESEX','TESPEMPNOT','TRCHILDNUM','TRDPFTPT','TRERNWA','TUFNWGTP','TUYEAR']
summ_demo_iter = pd.read_csv('../atussum_0321.csv', iterator= True, chunksize=10000, usecols=columns_to_keep)
# summ_demo_iter = pd.read_csv('./atussum_1121-reduced.csv', iterator= True, chunksize=10000, usecols=columns_to_keep)
summ_list = []
for chunk in summ_demo_iter:
    summ_temp = chunk[(chunk.TUYEAR >= 2000)]
    summ_temp = summ_temp.rename(columns={'TUCASEID':'case_id',
                                          'PEEDUCA':'education',
                                          'PEHSPNON':'hispanic',
                                          'TESCHLVL':'school_level',
                                          'PTDTRACE':'ethnicity',
                                          'TEAGE':'age',
                                          'TELFS':'employed',
                                          'TESEX':'gender',
                                          'TESPEMPNOT':'spouse_empl',
                                          'TRCHILDNUM':'num_child',
                                          'TRDPFTPT':'full_part_wrk',
                                          'TRERNWA':'weekly_earn',
                                          'TUFNWGTP':'weights',
                                          'TUYEAR':'year'})
    summ_list.append(summ_temp)
summ_demo_final = pd.concat(summ_list)

In [3]:
summ_demo_final.head(100)

,case_id,education,hispanic,ethnicity,age,employed,school_level,gender,spouse_empl,num_child,full_part_wrk,weekly_earn,weights,year
0,20030100013280,44,2,2,60,2,-1,1,2,0,2,66000,8.155463e+06,2003
1,20030100013344,40,2,1,41,1,-1,2,1,2,2,20000,1.735323e+06,2003
2,20030100013352,41,2,1,26,2,-1,2,2,0,2,20000,3.830527e+06,2003
3,20030100013848,39,2,2,36,4,-1,2,1,2,-1,-1,6.622023e+06,2003
4,20030100014165,45,2,1,51,1,-1,1,2,2,1,-1,3.068387e+06,2003
5,20030100014169,43,2,1,32,2,2,2,1,1,1,57600,3.455425e+06,2003
6,20030100014209,39,2,1,44,1,-1,2,1,1,1,-1,1.637826e+06,2003
7,20030100014427,40,2,1,21,1,-1,2,-1,1,1,33250,6.574427e+06,2003
8,20030100014550,41,2,1,33,1,-1,2,1,3,1,63000,1.528296e+06,2003
9,20030100014758,41,2,2,39,1,-1,2,2,4,1,45000,4.277053e+06,2003
10,20030100014928,40,2,2,26,1,-1,1,1,1,1,65000,1.961482e+06,2003
11,20030100015106,40,2,1,33,1,-1,2,-1,1,1,18550,5.052272e+05,2003
12,20030100015322,39,2,1,42,1,-1,2,1,1,2,22500,2.135477e+06,2003
13,20030100015390,36,2,2,17,5,1,1,-1,1,-1,-1,5.366309e+06,2003
14,20030100015490,43,2,1,32,1,-1,2,2,1,1,9615,1.058351e+06,2003
15,20030100015890,44,2,1,45,1,-1,2,2,2,1,74038,3.594556e+06,2003
16,20030100015891,39,2,1,59,5,-1,2,2,0,-1,-1,2.479644e+06,2003
17,20030100015941,44,2,1,28,1,-1,2,-1,0,1,40000,1.423997e+06,2003
18,20030100015986,40,2,2,50,5,-1,2,1,0,-1,-1,4.103643e+06,2003
19,20030100016070,36,2,1,17,1,1,2,-1,4,2,22400,9.013628e+06,2003
20,20030101030010,40,2,2,47,5,-1,1,-1,0,-1,-1,3.854141e+06,2003
21,20030101030056,40,2,2,39,1,-1,2,-1,2,2,5600,2.574209e+06,2003
22,20030101030074,39,1,1,23,1,-1,1,1,0,1,45000,1.221143e+07,2003
23,20030101030082,37,2,1,18,5,1,1,-1,3,-1,-1,2.394056e+06,2003
24,20030101030093,39,2,1,25,1,-1,2,-1,1,1,57600,2.720948e+06,2003
25,20030101030124,39,2,1,21,4,-1,2,1,0,-1,-1,1.836971e+07,2003
26,20030101030132,40,2,2,48,5,-1,2,-1,0,-1,-1,9.830657e+05,2003
27,20030101030152,34,2,2,58,5,-1,1,-1,0,-1,-1,1.079962e+06,2003
28,20030101030154,39,2,1,59,5,-1,2,-1,1,-1,-1,1.638277e+06,2003
29,20030101030157,43,2,1,27,1,-1,1,-1,0,1,288461,4.501193e+06,2003
30,20030101030168,38,1,1,21,1,-1,1,-1,0,1,46000,4.100694e+06,2003
31,20030101030173,40,2,2,42,1,-1,2,-1,2,1,25000,2.770443e+06,2003
32,20030101030501,43,2,1,46,1,-1,1,2,1,1,211538,2.389999e+06,2003
33,20030101030549,39,2,1,68,5,-1,2,2,0,-1,-1,1.798283e+06,2003
34,20030101030553,39,2,1,59,1,-1,2,-1,0,2,44600,5.314685e+06,2003
35,20030101030598,39,2,4,63,5,-1,2,-1,0,-1,-1,7.127073e+06,2003
36,20030101030600,37,2,2,39,1,-1,1,-1,1,1,88000,3.579289e+06,2003
37,20030101030611,42,2,2,43,1,-1,2,-1,0,1,94000,2.117507e+06,2003
38,20030101030638,43,2,1,37,1,-1,1,1,2,1,115384,3.114624e+06,2003
39,20030101030642,40,2,2,45,1,-1,1,-1,0,1,40000,2.708604e+06,2003
40,20030101030658,43,2,1,50,5,-1,1,-1,0,-1,-1,3.517933e+06,2003
41,20030101030673,43,2,1,47,1,-1,1,2,0,1,40000,4.391476e+06,2003
42,20030101030758,43,2,1,38,1,2,1,2,1,1,73076,1.245292e+06,2003
43,20030101030796,39,2,1,58,1,-1,2,-1,0,1,30000,1.215732e+06,2003
44,20030101030811,43,2,1,31,1,-1,1,-1,0,1,86538,2.911776e+06,2003
45,20030101030813,37,2,1,17,5,1,2,-1,2,-1,-1,9.580786e+06,2003
46,20030101030828,42,2,1,51,1,-1,1,2,0,1,288461,3.491417e+06,2003
47,20030101030830,39,1,1,21,3,-1,2,1,3,-1,-1,3.153098e+06,2003
48,20030101030843,39,2,1,79,5,-1,2,-1,0,-1,-1,5.196677e+06,2003
49,20030101030862,39,2,4,41,1,-1,1,1,3,1,113000,1.165665e+07,2003
50,20030101030883,40,2,1,55,5,-1,2,-1,0,-1,-1,3.999291e+06,2003
51,20030101030914,39,2,1,36,1,-1,2,1,3,1,87800,2.013813e+06,2003
52,20030101030930,40,2,1,40,1,-1,1,1,0,1,182692,3.513408e+06,2003
53,20030101030947,40,2,4,47,1,-1,1,-1,0,1,84000,4.180120e+06,2003
54,20030101030962,36,2,4,17,5,1,1,-1,1,-1,-1,6.807073e+06,2003
55,20030101031007,39,2,1,67,5,-1,1,2,0,-1,-1,3.681494e+06,2003
56,20030101031020,39,2,1,29,2,-1,1,2,2,1,210000,4.638902e+06,2003
57,20030101031030,39,2,1,58,1,-1,2,2,0,1,34000,2.080731e+06,2003
58,20030101031035,43,2,1,34,1,-1,2,1,2,1,59600,3.561478e+06,2003
59,20030101031036,43,1,1,36,3,-1,2,1,1,-1,-1,3.465900e+06,2003
60,20030101031047,39,1,1,46,1,-1,2,1,1,1,31000,3.792077e+06,2003
61,20030101031049,31,1,7,80,5,-1,2,-1,1,-1,-1,3.876824e+06,2003
62,20030101031055,39,2,1,70,1,-1,2,-1,0,1,45000,3.075222e+06,2003
63,20030101031073,43,2,1,45,1,-1,1,1,2,1,288461,3.926936e+06,2003
64,20030101031074,41,2,1,26,1,-1,1,-1,0,1,68000,4.691101e+06,2003
65,20030101031095,43,2,1,54,1,-1,1,1,0,1,36300,6.242595e+06,2003
66,20030101031117,43,2,1,37,1,-1,2,2,2,1,88461,1.203897e+06,2003
67,20030101031150,39,1,1,67,5,-1,2,-1,0,-1,-1,5.600816e+05,2003
68,20030101031157,39,1,1,41,1,-1,2,-1,2,1,-1,1.557382e+06,2003
69,20030101031171,43,1,2,31,1,-1,2,1,1,2,22500,4.116784e+06,2003
70,20030101031183,35,2,2,58,5,-1,2,-1,0,-1,-1,2.048280e+06,2003
71,20030101031197,44,2,1,45,5,-1,2,1,3,-1,-1,1.471647e+06,2003
72,20030101031225,37,2,8,78,5,-1,2,-1,0,-1,-1,1.589852e+06,2003
73,20030101031231,40,2,1,68,5,-1,2,-1,2,-1,-1,7.779652e+05,2003
74,20030101031284,37,2,1,80,5,-1,2,-1,0,-1,-1,3.593366e+06,2003
75,20030101031299,42,2,1,52,1,-1,1,1,0,1,88461,9.292939e+06,2003
76,20030101031318,39,2,1,32,5,-1,2,1,2,-1,-1,1.804197e+06,2003
77,20030101031347,39,2,1,80,5,-1,2,-1,0,-1,-1,2.233847e+06,2003
78,20030101031400,39,1,1,32,1,-1,2,-1,2,2,25800,4.968575e+06,2003
79,20030101031413,35,2,1,15,5,1,2,-1,2,-1,-1,6.334837e+06,2003
80,20030101031414,40,2,1,46,1,-1,1,1,2,1,92000,2.538638e+06,2003
81,20030101031436,39,2,1,37,3,-1,1,-1,0,-1,-1,2.819776e+06,2003
82,20030101031444,43,2,1,80,5,-1,2,-1,0,-1,-1,1.210925e+06,2003
83,20030101031468,45,2,1,42,1,-1,1,-1,0,1,94230,3.322926e+06,2003
84,20030101031490,43,2,1,53,5,-1,2,1,0,-1,-1,6.376601e+06,2003
85,20030101031494,39,2,1,39,1,-1,1,2,3,1,153846,4.026249e+06,2003
86,20030101031520,39,2,1,75,1,-1,1,2,0,2,37500,4.008066e+06,2003
87,20030101031567,43,2,1,38,1,-1,2,-1,2,1,40384,1.853780e+06,2003
88,20030101031570,39,2,1,54,2,-1,2,2,0,2,-1,6.481945e+06,2003
89,20030101031604,43,2,1,24,1,-1,1,-1,0,2,37500,2.249413e+06,2003
90,20030101031606,35,2,1,79,5,-1,1,2,0,-1,-1,3.522141e+06,2003
91,20030101031612,35,2,1,52,1,-1,1,-1,0,1,48550,2.768337e+06,2003
92,20030101031634,43,2,1,29,1,-1,1,1,1,1,69230,3.777218e+06,2003
93,20030101031643,39,2,1,67,5,-1,1,2,0,-1,-1,3.454264e+06,2003
94,20030101031654,43,2,1,32,1,-1,2,1,2,1,51923,1.016232e+06,2003
95,20030101031670,46,2,1,65,1,-1,1,1,1,1,90384,2.224818e+06,2003
96,20030101031676,39,2,1,36,1,-1,2,2,2,1,48800,3.401284e+06,2003
97,20030101031678,41,2,1,54,5,-1,2,1,0,-1,-1,3.118430e+06,2003
98,20030101031679,35,2,2,17,4,1,1,-1,1,-1,-1,1.028584e+07,2003
99,20030101031696,40,2,1,48,1,-1,1,2,1,1,85000,1.697946e+06,2003

# 1D dataset test

In [7]:
salary = ['TUCASEID','TRERNWA']
salary_info = pd.read_csv('../atussum_0321.csv', iterator= True, chunksize=10000, usecols=salary)
salary_table = []
for chunk in salary_info:
    temp = chunk.rename(columns={'TUCASEID':'case_id','TRERNWA':'weekly_earn'})
    salary_table.append(temp)
salary_info = pd.concat(salary_table)

In [12]:
salary_info = salary_info.drop([salary_info.weekly_earn == -1].index)

KeyError: '[<built-in method index of list object at 0x00000254CAA12240>] not found in axis'